.title-gradient {
  background: linear-gradient(4deg, #604cc7, #604cc766);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  min-height: 55px;
}
/* .bg-gradient {
  background: rgb(96, 76, 199);
  background: linear-gradient(
    266deg,
    rgba(96, 76, 199, 1) 0%,
    rgba(0, 0, 0, 1) 10%
  );
} */
