.marquee {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 35px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
}
.shadow-blend-left {
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  background: linear-gradient(to right, black, transparent);
}
.shadow-blend-right {
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  background: linear-gradient(to left, black, transparent);
}
